---
import Card from "@/components/Card.astro";
import Container from "@/components/Container.astro";
import { Link } from "@/components/Link";
import { LandingH2 } from "@/components/Typography";
import { IMAGES, SEO_META } from "@/data.constants";
import { LINKS } from "@/data.constants";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout
  title={SEO_META.DECOUVRIR.title}
  description={SEO_META.DECOUVRIR.description}
>
  <Container>
    <LandingH2 className="text-center">Aux Fourgs</LandingH2>
    <Card className="mt-4">
      <div class="flex flex-col gap-4 md:flex-row justify-center items-center">
        <div class="flex-1">
          <Image
            src="/les-fourgs-plan.webp"
            alt="Plan des Fourgs"
            width={1100}
            height={776}
          />
        </div>
        <div class="flex-1 flex">
          <ul class="space-y-4 flex flex-col">
            <li>
              <span class="font-bold">Ski alpin:</span> 7 remontées mécaniques et
              des pistes pour tous les niveaux, allant des pistes baby/vertes aux
              pistes rouges. Certaines pistes sont équipées de canons à neige.
            </li>
            <li>
              <span class="font-bold">Ski de fond:</span> discipline populaire dans
              la région, avec plus de 100 kilomètres de pistes dans des espaces naturels
              entre les collines et les forêts. La piste multi-activté passe directement
              derrière le jardin! Une piste de ski nocturne est ouverte le mardi
              et jeudi à <Link href={LINKS.LA_COUPE.url}>la Coupe</Link>.
            </li>
            <li>
              <span class="font-bold">Raquettes:</span> Vous pouvez aussi randonner
              en raquettes sur des pistes balisées dans les forêts de sapins.
            </li>
          </ul>
        </div>
      </div>
    </Card>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <Card title="Single track">
        <Image
          src="/single-track.webp"
          alt="Single track Les Fourgs"
          width={504}
          height={461}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          Le <Link href={LINKS.SINGLE_TRACK.url}>single track du village</Link>.
          Parfait pour les amateurs de VTT et de vélo tout terrain qui
          souhaitent s'amuser sur des parcours techniques.
        </p>
      </Card>

      <Card title="Intramuros">
        <Image
          src="/les-fourgs-logo.webp"
          alt="Intramuros Les Fourgs"
          width={504}
          height={461}
          class="w-full h-52 object-contain mt-2"
        />
        <p class="mt-2">
          Le site officiel de la commune <Link href={LINKS.INTRAMUROS.url}
            >Intramuros</Link
          >
          permet d'explorer Les Fourgs et ses environs. Une plateforme dédiée aux
          activités et découvertes locales dans la région.
        </p>
      </Card>
    </div>

    <!-- <DirectionAwareHover client:load>
    <div slot="img">
      <Image
      src="/meta-plan.webp"
      class={"w-full h-full object-cover"}
      alt="Plan de Métabief"
      width={800}
      height={732}
      />
      </div>
      <p class="font-bold text-xl">Métabief</p>
      <p>
        En seulement 10 minutes en voiture, vous pourrez également accéder à
        Métabief et skier sur ses 35 pistes allant de la verte à la noire.
        </p>
        <p>Une école de ski est également disponible sur place.</p>
        </DirectionAwareHover> -->
    <LandingH2 className="text-center mt-8">Découvrir les environs</LandingH2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mt-4">
      <Card title="Métabief">
        <Image
          src={IMAGES.METABIEF_VIEW.url}
          alt={IMAGES.METABIEF_VIEW.caption}
          width={2016}
          height={1515}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          En seulement 10 minutes en voiture, vous pourrez également accéder à
          <Link href={LINKS.METABIEF.maps}>Métabief</Link> et skier sur ses 35 pistes
          allant de la verte à la noire. Une école de ski est également disponible
          sur place.
        </p>
      </Card>
      <Card title="Le Lac de Saint Point">
        <Image
          src="/st-point.webp"
          alt="Photo du lac Saint-Point"
          width={800}
          height={732}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          Le <Link href={LINKS.ST_POINT.maps}>lac Saint-Point</Link> offre un magnifique
          panorama entouré de forêts de sapins. Il est possible de pratiquer la baignade,
          la pêche, la randonnée, le vélo, les activités nautiques comme la voile
          ou le canoë. Il y a aussi des aires de pique- nique et des terrains de
          jeux pour les entants. Il est également connu pour être un spot populaire
          pour les activités nautiques comme le pédalo, le kayak et le stand-up paddle.
        </p>
      </Card>
      <Card title="Château de Joux">
        <Image
          src="/joux.webp"
          alt="Photo du Château de Joux"
          width={800}
          height={732}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          <Link href={LINKS.JOUX.maps}>Le château de Joux</Link> est un incontournable
          pour les amateurs d'histoire et de culture. Il est situé sur une colline
          dominant la vallée du Doubs, il est un témoin de l'histoire mouvementée
          de la région. Il est ouvert au public pour des visites guidées et offre
          une vue imprenable sur la vallée environnante.
        </p>
      </Card>
      <Card title="ExploreDoubs">
        <Image
          src="/explore-doubs.webp"
          alt="Application ExploreDoubs"
          width={504}
          height={461}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          Utilisez l'application <Link href={LINKS.EXPLORE_DOUBS.url}
            >ExploreDoubs</Link
          >
          pour planifier vos balades et visites à pied ou à vélo dans le Doubs. Une
          ressource parfaite pour explorer la région et ses nombreux sentiers.
        </p>
      </Card>
      <Card title="Encore plus d'activités">
        <Image
          src="/office-de-tourisme.webp"
          alt="Photo du Château de Joux"
          width={504}
          height={461}
          class="w-full h-52 object-cover mt-2"
        />
        <p class="mt-2">
          Chien de traineaux, caves d'affinage, grottes, pêche, accro-branches,
          disc golf... Pour découvrir toutes les autres activités et les site
          touristiques qu'offre la région, n'hésitez pas à vous rendre à <Link
            href={LINKS.OFFICE_DE_TOURISME.maps}
            >l'office de tourisme du village.</Link
          >
        </p>
      </Card>
    </div>
  </Container>
</Layout>
