---
import {
  AccueilLink,
  PlanLink,
  ActivitésLink,
  DispoLink,
} from "@/components/Buttons";
import { Image } from "astro:assets";
import { MobileMenu } from "@/components/MobileMenu";
import { GiteLogoWrapper } from "@/components/GiteLogoWrapper";

const activePath = Astro.url.pathname;
---

<header class="bg-white shadow-md w-full p-6">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex flex-wrap gap-2 sm:gap-4">
      <GiteLogoWrapper />
      <div class="flex flex-row flex-1 min-w-40 justify-start gap-2">
        <Image
          src="/meuble-de-tourisme.webp"
          alt="Meublé de tourisme"
          class="w-10 sm:w-12 lg:w-16 h-auto object-contain shrink-0"
          width={180}
          height={132}
        />
        <Image
          src="/trois-epis.webp"
          alt="Gite 3 épis"
          class="w-10 sm:w-12 lg:w-20 h-auto object-contain shrink-0"
          width={232}
          height={120}
        />
      </div>
    </div>
    <MobileMenu activePath={activePath} client:load />
    <nav class="hidden lg:flex flex-1 justify-end">
      <AccueilLink activePath={activePath} client:load />
      <DispoLink activePath={activePath} client:load />
      <PlanLink activePath={activePath} client:load />
      <ActivitésLink activePath={activePath} client:load />
    </nav>
  </div>
</header>
